---
import type { Params } from 'astro';
import { getEntryBySlug } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/Title.astro";
import type { Blog } from "../../content/config";


const { slug } = Astro.params as Params;
// 2. Query for the entry directly using the request slug
const entry = (await getEntryBySlug("blog", slug!)) as Blog;
// 3. (Optional) render the entry to HTML in the template
const { Content } = await entry!.render();
---

<Layout title={entry.data.title}>
	<div class="max-w-4xl mx-auto">
		<Title>{entry?.data.title}</Title>
		<div class="font-source-sans text-base md:text-lg p-6 space-y-4">
			<Content />
		</div>
	</div>
</Layout>
