---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const blogPosts = await getCollection("blog", ({ data }) => {
	const isDev = import.meta.env.DEV;
	return isDev || data.draft !== true;
});
---

<Layout>
	<ul class="mt-16">
		{
			blogPosts.reverse().map((blogPostEntry) => (
				<li class="flex items-center justify-center flex-col">
					<a
						class="font-source-sans text-lg font-semibold text-balance"
						href={`/posts/${blogPostEntry.slug}`}
					>
						{blogPostEntry.data.title}
					</a>
					<time datetime={blogPostEntry.data.publishDate.toISOString()}>
						{blogPostEntry.data.publishDate.toDateString()}
					</time>
				</li>
			))
		}
	</ul>
</Layout>
