---
const title = "Font Pairing Made Simple"
import Layout from "../layouts/Layout.astro";
---

<Layout title={title}>
	<div>
		<h3>{title}</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu lorem,
			cursus nec diam ut, elementum convallis arcu. Cras rutrum ante in gravida
			consequat. Etiam vehicula nulla quam, sit amet imperdiet magna scelerisque
			hendrerit. Cras id nisi ut ipsum lobortis consequat ac id velit.
			Pellentesque habitant morbi tristique senectus et netus et malesuada fames
			ac turpis egestas. Vestibulum facilisis arcu nisi, a tempus arcu iaculis
			quis. Proin imperdiet magna quis massa efficitur, quis rutrum ex varius.
			Phasellus vitae odio augue.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu lorem,
			cursus nec diam ut, elementum convallis arcu. Cras rutrum ante in gravida
			consequat. Etiam vehicula nulla quam, sit amet imperdiet magna scelerisque
			hendrerit. Cras id nisi ut ipsum lobortis consequat ac id velit.
			Pellentesque habitant morbi tristique senectus et netus et malesuada fames
			ac turpis egestas. Vestibulum facilisis arcu nisi, a tempus arcu iaculis
			quis. Proin imperdiet magna quis massa efficitur, quis rutrum ex varius.
			Phasellus vitae odio augue.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu lorem,
			cursus nec diam ut, elementum convallis arcu. Cras rutrum ante in gravida
			consequat. Etiam vehicula nulla quam, sit amet imperdiet magna scelerisque
			hendrerit. Cras id nisi ut ipsum lobortis consequat ac id velit.
			Pellentesque habitant morbi tristique senectus et netus et malesuada fames
			ac turpis egestas. Vestibulum facilisis arcu nisi, a tempus arcu iaculis
			quis. Proin imperdiet magna quis massa efficitur, quis rutrum ex varius.
			Phasellus vitae odio augue.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu lorem,
			cursus nec diam ut, elementum convallis arcu. Cras rutrum ante in gravida
			consequat. Etiam vehicula nulla quam, sit amet imperdiet magna scelerisque
			hendrerit. Cras id nisi ut ipsum lobortis consequat ac id velit.
			Pellentesque habitant morbi tristique senectus et netus et malesuada fames
			ac turpis egestas. Vestibulum facilisis arcu nisi, a tempus arcu iaculis
			quis. Proin imperdiet magna quis massa efficitur, quis rutrum ex varius.
			Phasellus vitae odio augue.
		</p>
	</div>
</Layout>

<style>
	h3 {
		text-align: center;
		font-size: 2.625rem;
		font-family: Karla;
		font-weight: 700;
	}
	div {
		width: 40%;
		margin: auto;
	}
</style>
