---
const title = "Understading LR(1) Parsers by writing a tree-sitter parser";
import TextWrapper from "../components/TextWrapper.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title={title}>
	<div>
		<Title>{title}</Title>
		<TextWrapper>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu lorem,
				cursus nec diam ut, elementum convallis arcu. Cras rutrum ante in
				gravida consequat. Etiam vehicula nulla quam, sit amet imperdiet magna
				scelerisque hendrerit. Cras id nisi ut ipsum lobortis consequat ac id
				velit. Pellentesque habitant morbi tristique senectus et netus et
				malesuada fames ac turpis egestas. Vestibulum facilisis arcu nisi, a
				tempus arcu iaculis quis. Proin imperdiet magna quis massa efficitur,
				quis rutrum ex varius. Phasellus vitae odio augue.
			</p>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu lorem,
				cursus nec diam ut, elementum convallis arcu. Cras rutrum ante in
				gravida consequat. Etiam vehicula nulla quam, sit amet imperdiet magna
				scelerisque hendrerit. Cras id nisi ut ipsum lobortis consequat ac id
				velit. Pellentesque habitant morbi tristique senectus et netus et
				malesuada fames ac turpis egestas. Vestibulum facilisis arcu nisi, a
				tempus arcu iaculis quis. Proin imperdiet magna quis massa efficitur,
				quis rutrum ex varius. Phasellus vitae odio augue.
			</p>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu lorem,
				cursus nec diam ut, elementum convallis arcu. Cras rutrum ante in
				gravida consequat. Etiam vehicula nulla quam, sit amet imperdiet magna
				scelerisque hendrerit. Cras id nisi ut ipsum lobortis consequat ac id
				velit. Pellentesque habitant morbi tristique senectus et netus et
				malesuada fames ac turpis egestas. Vestibulum facilisis arcu nisi, a
				tempus arcu iaculis quis. Proin imperdiet magna quis massa efficitur,
				quis rutrum ex varius. Phasellus vitae odio augue.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu lorem,
				cursus nec diam ut, elementum convallis arcu. Cras rutrum ante in
				gravida consequat. Etiam vehicula nulla quam, sit amet imperdiet magna
				scelerisque hendrerit. Cras id nisi ut ipsum lobortis consequat ac id
				velit. Pellentesque habitant morbi tristique senectus et netus et
				malesuada fames ac turpis egestas. Vestibulum facilisis arcu nisi, a
				tempus arcu iaculis quis. Proin imperdiet magna quis massa efficitur,
				quis rutrum ex varius. Phasellus vitae odio augue.
			</p>
		</TextWrapper>
	</div>
</Layout>

<style>
	:not(p:last-of-type){
		margin-bottom: 1rem;
	}
</style>
