---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h3>
			Hello, I'm λdu.du
		</h3>

		<div class="flex items-center justify-center gap-4">
			<a href="https://github.com/joseemds" target="_blank" rel="noreferrer noopener">
				<i class="ri-github-line ri-2x" />
			</a>
			<a href="https://twitter.com/joseemds" target="_blank" rel="noreferrer noopener">
				<i class="ri-twitter-line ri-2x" />
			</a>
		</div>
	</main>
</Layout>

<style>
	h3 {
		font-weight: 600;
		font-size: 2.625rem;
		text-align: center;
	}
</style>
