---
import { Code } from "astro/components";

export type Props = {
	url: string;
	code: string;
};

const { code, url } = Astro.props;

const [_https, _empty, _github, owner, repo, _blob, commitHash, ...path] =
	url.split("/");

const [filename, lineNumbers] = path.at(-1)?.split("#")!;
const [startLine, _endLine] = lineNumbers.replace("L", "").split("-");
---

<div
		class="flex flex-col max-w-md md:max-w-4xl mx-auto md:text-base"
	style={`--start: ${startLine}`}>
	<div
		class="border-b-2 border-t  rounded-t-lg flex flex-row items-center p-2 gap-8 text-xl text-sky-50 whitespace-nowrap overflow-hidden"
		style="background-color: #24292e; border-color: #30363d;"
	>
		<a href={url} class="flex" target="_blank" rel="noreferrer noopener">
			<i class="ri-github-fill ri-xl" />
		</a>
		<h4 class="text-blue-400 decoration-blue-500 underline">
			<a href={url} target="_blank" rel="noreferrer noopener">
				{owner + "/" + repo + ":" + filename + "#" + commitHash}
			</a>
		</h4>
	</div>
	<div class="rounded-b-lg overflow-hidden text-sm md:text-base" style="border-color: #30363d">
		<Code	code={code} lang="js" />
	</div>
</div>
