---
import { Code } from "astro/components";

export type Props = {
	url: string;
	code: string;
};

const { code, url } = Astro.props;

const [_https, _empty, _github, owner, repo, _blob, commitHash, ...path] =
	url.split("/");

const [filename, lineNumbers] = path.at(-1)?.split("#")!;
const [startLine, _endLine] = lineNumbers.replace("L", "").split("-");
---

<div
		class="flex flex-col max-w-full mx-auto md:text-base"
	style={`--start: ${startLine}`}>
	<div
		class="border-b-2 border-t  rounded-t-lg flex flex-row items-center p-2 gap-4 text-base md:text-xl text-sky-50 whitespace-nowrap overflow-hidden"
		style="background-color: #24292e; border-color: #30363d; font-family: 'Iosevka';"
	>
		<a href={url} class="flex" target="_blank" rel="noreferrer noopener">
			<i class="ri-github-fill ri-xl" />
		</a>
		<h4 class="text-blue-400 decoration-blue-500 underline">
			<a href={url} target="_blank" rel="noreferrer noopener">
				{owner + "/" + repo + ":" + filename + "#" + commitHash}
			</a>
		</h4>
	</div>
	<div class="rounded-b-lg overflow-hidden text-sm md:text-base" style="border-color: #30363d; font-family: Iosevka;">
		<Code class:list=[]	code={code} lang="js" />
	</div>
</div>

<style is:global>
/* Shika related */
code {
  counter-reset: step;
  counter-increment: step calc(var(--start, 1) - 1);
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}
</style>
