<nav>
	<a href="/">Home</a>
	<div>
		<a href="/blog">Posts</a>
		<a href="#">RSS Feed</a>
	</div>
</nav>

<style>
	nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 24px;
		padding: 24px;
	}

</style>
