---
import "@fontsource-variable/exo-2"
import "@fontsource-variable/source-sans-3"
import "@fontsource/iosevka"
// Use Exo-2 for titles/heading and Source sans for reading texts

export interface Props {
	title: string;
}

import Navbar from "../components/Navbar.astro";
import "../styles/global.css"

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: 'Sourc Sans 3 Variable', system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Iosevka, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
